bankservice/src/main/webapp/wsdl/BankService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bank.ebc.kamelia.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bank.ebc.kamelia.com" xmlns:intf="http://bank.ebc.kamelia.com" xmlns:tns1="http://dto.bank.ebc.kamelia.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://bank.ebc.kamelia.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.bank.ebc.kamelia.com"/>
   <element name="debit">
    <complexType>
     <sequence>
      <element name="bankAccount" type="xsd:string"/>
      <element name="amount" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="debitResponse">
    <complexType>
     <sequence>
      <element name="debitReturn" type="tns1:Response"/>
     </sequence>
    </complexType>
   </element>
   <element name="credit">
    <complexType>
     <sequence>
      <element name="bankAccount" type="xsd:string"/>
      <element name="amount" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="creditResponse">
    <complexType>
     <sequence>
      <element name="creditReturn" type="tns1:Response"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkBalance">
    <complexType>
     <sequence>
      <element name="bankAccount" type="xsd:string"/>
      <element name="amount" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkBalanceResponse">
    <complexType>
     <sequence>
      <element name="checkBalanceReturn" type="tns1:Response"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.bank.ebc.kamelia.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Response">
    <sequence>
     <element name="balance" type="xsd:int"/>
     <element name="state" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="debitRequest">

      <wsdl:part element="impl:debit" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="debitResponse">

      <wsdl:part element="impl:debitResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="creditResponse">

      <wsdl:part element="impl:creditResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkBalanceResponse">

      <wsdl:part element="impl:checkBalanceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="creditRequest">

      <wsdl:part element="impl:credit" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkBalanceRequest">

      <wsdl:part element="impl:checkBalance" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BankService">

      <wsdl:operation name="debit">

         <wsdl:input message="impl:debitRequest" name="debitRequest">

       </wsdl:input>

         <wsdl:output message="impl:debitResponse" name="debitResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="credit">

         <wsdl:input message="impl:creditRequest" name="creditRequest">

       </wsdl:input>

         <wsdl:output message="impl:creditResponse" name="creditResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkBalance">

         <wsdl:input message="impl:checkBalanceRequest" name="checkBalanceRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkBalanceResponse" name="checkBalanceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankServiceSoapBinding" type="impl:BankService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="debit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="debitRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="debitResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="credit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="creditRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="creditResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkBalance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkBalanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkBalanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankServiceService">

      <wsdl:port binding="impl:BankServiceSoapBinding" name="BankService">

         <wsdlsoap:address location="http://localhost:8080/bankservice/services/BankService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
