webservice/src/main/webapp/wsdl/GustaveBikeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.webservice.kamelia.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.webservice.kamelia.com" xmlns:intf="http://service.webservice.kamelia.com" xmlns:tns1="http://dto.webservice.kamelia.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.webservice.kamelia.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.webservice.kamelia.com"/>
   <element name="buyBike">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
      <element name="bikeId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buyBikeResponse">
    <complexType>
     <sequence>
      <element name="buyBikeReturn" type="tns1:PurchaseResponse"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.webservice.kamelia.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="PurchaseResponse">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="status" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="buyBikeResponse">

      <wsdl:part element="impl:buyBikeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buyBikeRequest">

      <wsdl:part element="impl:buyBike" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GustaveBikeService">

      <wsdl:operation name="buyBike">

         <wsdl:input message="impl:buyBikeRequest" name="buyBikeRequest">

       </wsdl:input>

         <wsdl:output message="impl:buyBikeResponse" name="buyBikeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GustaveBikeServiceSoapBinding" type="impl:GustaveBikeService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="buyBike">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buyBikeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buyBikeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GustaveBikeServiceService">

      <wsdl:port binding="impl:GustaveBikeServiceSoapBinding" name="GustaveBikeService">

         <wsdlsoap:address location="http://localhost:8080/WebServiceTest/services/GustaveBikeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
