webservice/src/main/webapp/wsdl/GustaveBikeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.webservice.kamelia.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.webservice.kamelia.com" xmlns:intf="http://service.webservice.kamelia.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.webservice.kamelia.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="f">
    <complexType/>
   </element>
   <element name="fResponse">
    <complexType>
     <sequence>
      <element name="fReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buyBike">
    <complexType/>
   </element>
   <element name="buyBikeResponse">
    <complexType>
     <sequence>
      <element name="buyBikeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="buyBikeResponse">

      <wsdl:part element="impl:buyBikeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fRequest">

      <wsdl:part element="impl:f" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buyBikeRequest">

      <wsdl:part element="impl:buyBike" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fResponse">

      <wsdl:part element="impl:fResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GustaveBikeService">

      <wsdl:operation name="f">

         <wsdl:input message="impl:fRequest" name="fRequest">

       </wsdl:input>

         <wsdl:output message="impl:fResponse" name="fResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buyBike">

         <wsdl:input message="impl:buyBikeRequest" name="buyBikeRequest">

       </wsdl:input>

         <wsdl:output message="impl:buyBikeResponse" name="buyBikeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GustaveBikeServiceSoapBinding" type="impl:GustaveBikeService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="f">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buyBike">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buyBikeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buyBikeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GustaveBikeServiceService">

      <wsdl:port binding="impl:GustaveBikeServiceSoapBinding" name="GustaveBikeService">

         <wsdlsoap:address location="http://localhost:8080/WebServiceTest/services/GustaveBikeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
