webservice/src/main/webapp/wsdl/Hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.webservice.kamelia.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.webservice.kamelia.com" xmlns:intf="http://service.webservice.kamelia.com" xmlns:tns1="http://dto.webservice.kamelia.com" xmlns:tns2="http://webservice.kamelia.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.webservice.kamelia.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://webservice.kamelia.com"/>
   <import namespace="http://dto.webservice.kamelia.com"/>
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="bigTest">
    <complexType/>
   </element>
   <element name="bigTestResponse">
    <complexType>
     <sequence>
      <element name="bigTestReturn" type="tns1:Bike"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_Order">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Order"/>
    </sequence>
   </complexType>
   <element name="sayFooe">
    <complexType>
     <sequence>
      <element name="test" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayFooeResponse">
    <complexType>
     <sequence>
      <element name="sayFooeReturn" type="tns2:Foo"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.webservice.kamelia.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://service.webservice.kamelia.com"/>
   <import namespace="http://webservice.kamelia.com"/>
   <complexType name="Comment">
    <sequence>
     <element name="content" nillable="true" type="xsd:string"/>
     <element name="stars" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="ReturnState">
    <sequence>
     <element name="details" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Order">
    <sequence>
     <element name="comment" nillable="true" type="tns1:Comment"/>
     <element name="date" type="xsd:long"/>
     <element name="orderer" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="tns1:ReturnState"/>
    </sequence>
   </complexType>
   <complexType name="Bike">
    <sequence>
     <element name="availability" nillable="true" type="xsd:string"/>
     <element name="history" nillable="true" type="impl:ArrayOf_tns1_Order"/>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="owner" nillable="true" type="xsd:string"/>
     <element name="value" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.kamelia.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://service.webservice.kamelia.com"/>
   <import namespace="http://dto.webservice.kamelia.com"/>
   <complexType name="Foo">
    <sequence>
     <element name="ouep" type="xsd:int"/>
     <element name="test" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="bigTestRequest">

      <wsdl:part element="impl:bigTest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayFooeRequest">

      <wsdl:part element="impl:sayFooe" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayFooeResponse">

      <wsdl:part element="impl:sayFooeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bigTestResponse">

      <wsdl:part element="impl:bigTestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Hello">

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bigTest">

         <wsdl:input message="impl:bigTestRequest" name="bigTestRequest">

       </wsdl:input>

         <wsdl:output message="impl:bigTestResponse" name="bigTestResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayFooe">

         <wsdl:input message="impl:sayFooeRequest" name="sayFooeRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayFooeResponse" name="sayFooeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloSoapBinding" type="impl:Hello">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bigTest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bigTestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="bigTestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayFooe">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayFooeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayFooeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloService">

      <wsdl:port binding="impl:HelloSoapBinding" name="Hello">

         <wsdlsoap:address location="http://localhost:8080/WebServiceTest/services/Hello"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
